.elementor-12 .elementor-element.elementor-element-2f695d3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-0cb3bc5:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-0cb3bc5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F700;
}

.elementor-12 .elementor-element.elementor-element-0cb3bc5 {
    transition   : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top   : -68px;
    margin-bottom: 0px;
    padding      : 0px 0px 0px 0px;
    z-index      : 2;
}

.elementor-12 .elementor-element.elementor-element-0cb3bc5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-c9b7265>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-59265ab>.elementor-widget-container {
    margin          : 0px 0px -68px 0px;
    padding         : 0px 43px 0px 43px;
    background-color: #FFFFFF;
    box-shadow      : 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}

.elementor-12 .elementor-element.elementor-element-2bfd08a:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-2bfd08a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-color: #F9F9F7; */
    background-color: white;
}

.elementor-12 .elementor-element.elementor-element-2bfd08a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding   : 191px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-2bfd08a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-e66be58>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6d33657>.elementor-widget-container {
    /* padding: 0% 5% 0% 5%; */
}

.elementor-12 .elementor-element.elementor-element-aa259b8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items  : flex-end;
}

.elementor-12 .elementor-element.elementor-element-aa259b8:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-aa259b8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-color: #F9F9F7; */
    background-color: white;
}

.elementor-12 .elementor-element.elementor-element-aa259b8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding   : 20px 0px 252px 0px;
}

.elementor-12 .elementor-element.elementor-element-aa259b8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-fd8aca8.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-12 .elementor-element.elementor-element-fd8aca8>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D4D4D2;
    transition  : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding     : 10px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-fd8aca8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-d0322cf>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D4D4D2;
    transition  : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding     : 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d0322cf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-1de404c>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D4D4D2;
    transition  : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding     : 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-1de404c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-9b9d6dc>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D4D4D2;
    transition  : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding     : 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-9b9d6dc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-48105f3>.elementor-element-populated {
    border-style: solid;
    border-color: #D4D4D2;
    transition  : background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding     : 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-48105f3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-d48f4b8>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}



.elementor-12 .elementor-element.elementor-element-33df2c1 {
    margin-top   : -210px;
    margin-bottom: 0px;
    padding      : 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-4908d24.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-4908d24.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items  : center;
}

.elementor-12 .elementor-element.elementor-element-4908d24.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-4908d24>.elementor-element-populated {
    /* text-align: center; */
    padding: 0px 20px 0px 20px;
}

.elementor-12 .elementor-element.elementor-element-590c92c {
    width    : auto;
    max-width: auto;
}

h4.qodef-m-title {
    color: #00aa55;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-eb6e102.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-eb6e102.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items  : center;
}

.elementor-12 .elementor-element.elementor-element-eb6e102.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-eb6e102>.elementor-element-populated {
    /* text-align: center; */
    padding: 0px 10px 0px 10px;
}

.elementor-12 .elementor-element.elementor-element-b4a5613 {
    width    : auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-1b782bb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-1b782bb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items  : center;
}

.elementor-12 .elementor-element.elementor-element-1b782bb.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-1b782bb>.elementor-element-populated {
    /* text-align: center; */
    padding: 0px 0px 0px 20px;
}

.elementor-12 .elementor-element.elementor-element-0b5e74a {
    width    : auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-88d925d {
    margin-top   : 0%;
    margin-bottom: 8.7%;
    padding      : 128px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-b94c912>.elementor-element-populated {
    /* padding: 4% 0% 0% 7%; */
}

.elementor-12 .elementor-element.elementor-element-f32a59f {
    text-align: right;
}

.elementor-12 .elementor-element.elementor-element-f32a59f>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-071a97c {
    width    : auto;
    max-width: auto;
    bottom   : 0px;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-071a97c {
    right: 0px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-071a97c {
    left: 0px;
}

.elementor-12 .elementor-element.elementor-element-33edd4c>.elementor-element-populated {
    padding: 0% 0% 0% 19%;
}

.elementor-12 .elementor-element.elementor-element-9953559>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6021491>.elementor-widget-container {
    padding: 110px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-92a1c01>.elementor-element-populated {
    padding: 22% 0% 0% 16%;
}

.elementor-12 .elementor-element.elementor-element-17227b8>.elementor-widget-container {
    padding: 120px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-46db07f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding   : 11% 0% 11% 0%;
}

.elementor-12 .elementor-element.elementor-element-46db07f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-9e2eb73.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-f5138cf>.elementor-widget-container {
    margin : 0px 0px 26px 0px;
    padding: 0% 22% 0% 22%;
}

.elementor-12 .elementor-element.elementor-element-1a84126>.elementor-widget-container {
    margin : -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-1a84126 {
    width    : auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-09c0c27 {
    padding: 50px 0px 14px 0px;
}

.elementor-12 .elementor-element.elementor-element-5933081>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-ae0aa02>.elementor-widget-container {
    padding: 78px 0px 64px 0px;
}

.elementor-12 .elementor-element.elementor-element-0d96cf7:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-0d96cf7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F7;
}

.elementor-12 .elementor-element.elementor-element-0d96cf7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding   : 110px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-0d96cf7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-6e2a319>.elementor-element-populated {
    padding: 20px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-a825f07>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-6da1d8d>.elementor-element-populated {
    padding: 5% 0% 0% 12%;
}

.elementor-12 .elementor-element.elementor-element-d4f26ae {
    text-align: right;
}

.elementor-12 .elementor-element.elementor-element-004cb0f:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-004cb0f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F7;
}

.elementor-12 .elementor-element.elementor-element-004cb0f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding   : 90px 0px 80px 0px;
}

.elementor-12 .elementor-element.elementor-element-004cb0f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-625f847>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6906e11 {
    padding: 120px 0px 50px 0px;
}

.elementor-12 .elementor-element.elementor-element-38aab2f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d9cf34b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items  : flex-end;
}

.elementor-12 .elementor-element.elementor-element-d9cf34b {
    padding: 0px 0px 60px 0px;
}

.elementor-12 .elementor-element.elementor-element-21c6420>.elementor-element-populated {
    padding: 0% 4% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-26ba652>.elementor-element-populated {
    padding: 0% 3% 0% 1%;
}

.elementor-12 .elementor-element.elementor-element-203d469>.elementor-element-populated {
    padding: 0% 0% 0% 4%;
}

.elementor-12 .elementor-element.elementor-element-179e8c8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items  : flex-end;
}

.elementor-12 .elementor-element.elementor-element-179e8c8 {
    padding: 0px 0px 160px 0px;
}

.elementor-12 .elementor-element.elementor-element-6b9ccc9>.elementor-element-populated {
    padding: 0% 4% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-f085306>.elementor-element-populated {
    padding: 0% 3% 0% 1%;
}

.elementor-12 .elementor-element.elementor-element-e5d6dcc>.elementor-element-populated {
    padding: 0% 0% 0% 4%;
}

.elementor-12 .elementor-element.elementor-element-92ba6ab.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-92ba6ab>.elementor-element-populated {
    padding: 21% 0% 19% 0%;
}

.elementor-12 .elementor-element.elementor-element-cda9fd6>.elementor-widget-container {
    padding: 0% 30% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-b1189c2 {
    padding: 115px 0px 67px 0px;
}

.elementor-12 .elementor-element.elementor-element-11ad33e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-9a1879a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-b402916 {
    padding: 0px 0px 50px 0px;
}

.elementor-12 .elementor-element.elementor-element-b01b5bb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-bbf0e49 {
    padding: 0px 0px 95px 0px;
}

@media(min-width:768px) {

    /* .elementor-12 .elementor-element.elementor-element-33df2c1 {
        margin-top: -240px;
    } */


    .elementor-12 .elementor-element.elementor-element-b94c912 {
        width: 45.5%;
    }

    .elementor-12 .elementor-element.elementor-element-33edd4c {
        /* width: 27.14%; */
        width: 29%;
    }

    .elementor-12 .elementor-element.elementor-element-92a1c01 {
        width: 27.003%;
    }

    .elementor-12 .elementor-element.elementor-element-6e2a319 {
        width: 48.993%;
    }

    .elementor-12 .elementor-element.elementor-element-6da1d8d {
        width: 51.007%;
    }
}

@media(max-width:1024px) {
    .elementor-12 .elementor-element.elementor-element-33df2c1 {
        margin-top: -330px;
    }

    /* .elementor-12 .elementor-element.elementor-element-33df2c1 {
        margin-top: -150px;
    } */

    .elementor-12 .elementor-element.elementor-element-0cb3bc5 {
        margin-top   : -80px;
        margin-bottom: 0px;
    }

    .elementor-12 .elementor-element.elementor-element-59265ab>.elementor-widget-container {
        margin: 0px 0px -240px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-2bfd08a {
        /* padding: 340px 0px 0px 0px; */
    }

    .elementor-12 .elementor-element.elementor-element-6d33657>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-aa259b8 {
        padding: 60px 0px 330px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-fd8aca8>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-0a5475a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d0322cf>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-1de404c>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-9b9d6dc>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 60px 0px 0px 105px;
    }

    .elementor-12 .elementor-element.elementor-element-0fe5c84 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-48105f3>.elementor-element-populated {
        border-width: 0px 1px 0px 0px;
        padding     : 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-05b1c68>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d48f4b8>.elementor-element-populated {
        padding: 60px 105px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-4908d24>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-eb6e102>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-1b782bb>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-88d925d {
        margin-top   : 0px;
        margin-bottom: 0px;
        padding      : 128px 0px 166px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-33edd4c>.elementor-element-populated {
        padding: 50px 40px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-92a1c01>.elementor-element-populated {
        padding: 100px 0px 0px 5px;
    }

    .elementor-12 .elementor-element.elementor-element-f5138cf>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-09c0c27 {
        padding: 20px 0px 14px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-a825f07>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d9cf34b {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-21c6420>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-26ba652>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-203d469>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-6b9ccc9>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-f085306>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-e5d6dcc>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-2bfd08a {
        margin-top   : -80px;
        margin-bottom: 0px;
        padding      : 540px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-fd8aca8>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 40px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d0322cf>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 40px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-1de404c>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 40px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-9b9d6dc>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-48105f3>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        padding     : 0px 0px 40px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d48f4b8>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-88d925d {
        margin-top      : 0px;
        margin-bottom   : 0px;
        /* padding      : 120px 0px 125px 0px; */
    }

    .elementor-12 .elementor-element.elementor-element-b94c912>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-33edd4c>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-6021491>.elementor-widget-container {
        padding: 50px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-92a1c01>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-17227b8>.elementor-widget-container {
        padding: 50px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-46db07f {
        padding: 12% 0% 12% 0%;
    }

    .elementor-12 .elementor-element.elementor-element-f5138cf>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-0d96cf7 {
        padding: 90px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-6906e11 {
        padding: 110px 0px 50px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-cda9fd6>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-b1189c2 {
        padding: 105px 0px 67px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-ea1b6a6>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-fd8aca8 {
        width: 33%;
    }

    .elementor-12 .elementor-element.elementor-element-d0322cf {
        width: 33%;
    }

    .elementor-12 .elementor-element.elementor-element-1de404c {
        width: 33%;
    }

    .elementor-12 .elementor-element.elementor-element-9b9d6dc {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-d48f4b8 {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-4908d24 {
        width: 33%;
    }

    .elementor-12 .elementor-element.elementor-element-eb6e102 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-1b782bb {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-b94c912 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-33edd4c {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-92a1c01 {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-21c6420 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-26ba652 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-203d469 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-6b9ccc9 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-f085306 {
        width: 100%;
    }

    .elementor-12 .elementor-element.elementor-element-e5d6dcc {
        width: 100%;
    }
}