.or_portolio_carousel_inner{
  font-size:0px;
  letter-spacing:0px;
  width:100%;
  white-space:nowrap;
  display:block;
  overflow:hidden;
}
.or_portolio_item{
  width:25%;
  overflow:hidden;
  position:Relative;
  display:inline-block;
  /*float:left;*/
}
.or_portolio_item__link{
  display:block;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
.or_portolio_item.slick-slide{
  height:auto !important; 
}
.or_portolio_item:before{
  content:'';
  padding-bottom:75%;
  display:block;
}
.or_portolio_carousel{
  overflow:hidden;
}
.or_portolio_item img{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
}
.or_portolio_item__overlay{
  background: rgba(38,57,60,.7);
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:2;
  opacity:0;
}
.or_portolio_item:hover .or_portolio_item__overlay{
  opacity:1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.or_portolio_item__content{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:5;
  color:#fff;
  text-align:center;
  opacity:0;
  -webkit-transition:all ease 0.3s;
  -o-transition:all ease 0.3s;
  transition:all ease 0.3s;
  white-space:normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.or_portolio_item__title{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding: 0 65px;
}
.or_portolio_item__scope{
  font-size:15px; 
  color:#fff;
}
.or_portolio_item:hover .or_portolio_item__content{
  opacity: 1;
  -webkit-animation: fadeBottom .6s 1 cubic-bezier(.77,0,.175,1);
  animation: fadeBottom .6s 1 cubic-bezier(.77,0,.175,1);
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: fadeBottom;
          animation-name: fadeBottom;
}
.or_portolio_carousel .slick-arrow{
  position:absolute;
  top:50%;
  left:0px;
  color:#00aa55 ;
  font-size:48px;
  z-index:9;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  opacity:0;
  left:0px;
  cursor:pointer;
  margin-top:-22px;
}
.or_portolio_carousel:hover .slick-arrow{
  left:22px;
  opacity:1;
}
.or_portolio_carousel .slick-arrow:before{
  content:'4';
  font-family:ETmodules!important;
}
.or_portolio_carousel .slick-arrow.next{
  left:auto;
  right:0px;
}
.or_portolio_carousel:hover .slick-arrow.next{
  right:22px;
  opacity:1;
}
.or_portolio_carousel .slick-arrow.next:before{
  content:'5';
}
@media(max-width:980px){
  .or_portolio_carousel .slick-arrow{
    left:0px !important;
    opacity:1;
  }
  .or_portolio_carousel .slick-arrow.next{
    left:auto !Important;
    right:0px !Important;
    opacity:1;
  }
  .or_portolio_item__overlay{
    opacity:1;
  }
  .or_portolio_item .or_portolio_item__content{
    opacity:1;
  }
  .or_portolio_item__title{
    font-size: 22px;  
  }
  
  
}



@media(max-width:1024px){
  .or_portolio_item{
    width:33.33%;
  }
}
@media(max-width:768px){
  .or_portolio_item{
    width:50%;
  }
}
@media(max-width:480px){
  .or_portolio_item{
    width:100%;
  }
}
